<body>
  <div class="container">

    <div class="item item-1">

        Good Morning Doctor, <br>
        Let's see what's on the agenda today!

    </div>

    <div class="item item-2">
      <mat-card class="card">
        <mat-card-content class="items">
          <i class="icon"><mat-icon>pets</mat-icon></i>
          <div class="card-text">
            <h3>Total Patients</h3>
            <p>180</p>
            <em class = "newPatient">6 New Patients This Week</em>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="item item-3">
      <mat-card class="card">
        <mat-card-content class="items">
          <i class="icon"><mat-icon>date_range</mat-icon></i>
          <div class="card-text">
            <h3>Total Appointments</h3>
            <p>300</p>
            <em class = "newPatient">6 New Appointments This Week</em>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="item item-4">
      <mat-card class="card">
        <mat-card-content class="items">
          <i class="icon"><mat-icon>local_hospital</mat-icon></i>
          <div class="card-text">
            <h3>Total Surgeries</h3>
            <p>76</p>
            <em class = "newPatient">1 New Surgery This Week</em>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="item item-5">Clinic Revenue
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Medium</mat-card-subtitle>
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>
    </div>


    <div class="item item-6">Upcoming Vaccinations
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Medium</mat-card-subtitle>
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>
    </div>


    <div class="item item-7">Low Inventory
      <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Medium</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{longText}}
  </mat-card-content>
</mat-card>
    </div>
  </div>
</body>
